:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-size: 18px;
    --font: 'Outfit', sans-serif;
}

/* Attribution styles. */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    bottom: 10px;
    position: absolute;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-color: var(--main-bg);
    font-weight: 300;
}

.main-container {
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    background-color: var(--card-bg);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.equilibrium {
    width: 100%;
    border-radius: 7px;
}

.text-white {
    color: var(--white);
}

hr {
    width: 1px;
    background-color: var(--line);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    gap: 5px;

}

.text-soft-blue {
    color: var(--soft-blue);
}

.text-cyan {
    color:  var(--cyan);
    font-weight: 400;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 1px;
    border-color: var(--line);
}

.heading {
    font-family: outfit;
    margin-top: 5;
    margin-bottom: 5px;
    font-weight: 600;
    padding: 0;
}



.avatar {
    width: 40px;
    border-radius: 50%;
    border: solid white 1px;
}

.equilibrium-par {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.view {
    position: absolute;
    display: none;
}

.equilibrium-par:hover .view {
    display: inline;
}

